// reset --
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}

//color
$color-1 : #fff;
$color-2 : #eee;
$color-3 : #ccc;
$color-4 : #767676;
$color-5 : #484848;
$color-6 : #333;
$color-7 : #222;
// width variable 
$mobile-min-width : 320px;
$tablet-min-width : 768px;
$desktop-min-width : 1024px;
$fullhd-min-width : 1920px;
//헤더높이
$height-1 : 7vh;
//네비높이
$height-2 :7vh;

//mixin-----------------
@mixin responsive-media-query ($min-width, $max-width) {
  @media (min-width:$min-width) and (max-width:$max-width) {
    @content;
  }
}
@mixin size($width, $height, $background) { //size set
  width: $width;
  height: $height;
  background-color: $background;
}
@mixin flex($justify, $align, $flex) { //flex set
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $flex;
}
//네비 이미지 세팅
@mixin navimg($url) {
  background-image: $url;
  background-position: 50% 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
}
//이미지 세팅
@mixin img($url) {
  background-image: $url;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
//extand
%font-weight {
  font-weight: 100;
}


// artist 페이지
@include responsive-media-query($desktop-min-width, $fullhd-min-width) {  //pc에서 보이는 사이즈셋팅
  body {
    font-size: 16px;
  }
  #container { 
    @include size(40vw, 100vh, $color-2);
    & main {
      @include size(inherit, min-content, #fcf);
      & > section:nth-child(3) { //작품갤러리
        & > .artwork-page { //작품사이즈
          @include size(inherit, 53.3333vw, transparent);
        }
      }
    }
  }
}
@include responsive-media-query($tablet-min-width, $desktop-min-width) {  //태블릿에서 보이는 사이즈 셋팅
  body {
    font-size: 14px;
  }
  #container { 
    @include size(60vw, 100vh, $color-2);
    & main {
      @include size(inherit, min-content, #fcf);
      & > section:nth-child(3) { //작품갤러리
        & > .artwork-page {  //작품사이즈
          @include size(inherit, 80vw, transparent);
        }
      }
    }
  }
}
@include responsive-media-query($mobile-min-width, $tablet-min-width) { //모바일에서 보이는 사이즈 셋팅
  body {
    font-size: 12px;
  }
  #container {
    @include size(100vw, 100vh, $color-2);
    & main {
      @include size(inherit, min-content, #fcf);
      & > section:nth-child(3) { //작품갤러리
        & > .artwork-page {  //작품사이즈
          @include size(100vw, 133.3333vw, transparent);
        }
      }
    }
  }
}

#container {
  padding-top: $height-1;
  & header {
    @include size(inherit, $height-1, $color-1);
    @include flex(center, center, row);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid $color-2;
    & > div {
      @include size(90%, min-content, transparent);
      @include flex(space-between, center, row);
      & > div:nth-child(1) {
        @include flex(center, center, row); 
        
        & > a { // 이전버튼
          @include size(4vh, 4vh, transparent);
          @include img(url(../images/btn-prev.png));
          background-position: 0 50%;
          background-size: auto 100%;
        }
        
        & > div {  // 프로필이미지
          @include size(5vh, 5vh, transparent);
          @include img(url(../images/Pepe_shimada3.jpeg));
          border-radius: 50%;
        }
        & > span { //id
          color: $color-7;
          font-size: 1.4em;
          margin-left: 5px;
        }

      }
      & > div:nth-child(2) { //새작품 올리기 버튼
        @include size(4vh, 4vh, transparent);
        @include img(url(../images/btn-newplus.png));
        border: 1px solid $color-4;
        border-radius: 50%;
      }

    }
  }
  & nav {
    @include size(inherit, $height-2, $color-1);
    @include flex(center, center, row);
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #eee;
    & > div {
      @include size(90%, inherit, transparent);
      @include flex(space-between, center, row);
      & > div {
        @include size(5vh, 5vh, $color-1);
        border-radius: 50%;
        & > a {
          @include size(100%, 100%, transparent);
          border-radius: 50%;
        }
      }
      & > div:nth-child(1) { //홈
        & > a {
          @include navimg(url(../images/icon-home.png));
        }
      }
      & > div:nth-child(1):hover { //홈에 마우스댔을때
        & > a {
          @include navimg(url(../images/hover-icon-home.png));
          background-color: $color-6;
        }
      }
      & > div:nth-child(2) { //팔로우
        @include navimg(url(../images/icon-follow.png));
      }
      & > div:nth-child(3) { //트랜드
        background-color: $color-6;
        @include navimg(url(../images/hover-icon-trand.png));
      }
      & > div:nth-child(4) { //마이갤러리
        @include navimg(url(../images/icon-my-gallery.png));
      }
      & > div:nth-child(5) { //메세지
        @include navimg(url(../images/icon-message.png));
      }
    }
  }

  & main {
    & section:nth-child(1) { //작품, 솔드아웃, 팔로워 수
      @include size(inherit, 12vh, $color-1);
      @include flex(center, center, transparent);
      // border: 1px solid red;
      
      & > ul {
        @include size(45%, min-content, transparent);
        @include flex(space-between, center, row);
        & li {
          text-align: center;
          & > a {
            @include size(5vh, 5vh, transparent);
            border: 1px solid $color-4;
            border-radius: 50%;
          }
          & > span {
            color: $color-6;
            font-size: 1em;
          }
        }
        & li:nth-child(1) { //작품
          & a {
            @include img(url(../images/artwork.png));
          }
        }
        & li:nth-child(2) { //솔드아웃
          & a {
            @include img(url(../images/tag-soldout.png));
            background-size: 60% auto;
          }
        }
        & li:nth-child(3) { //팔로워
          & a {
            @include img(url(../images/follower.png));
          }
        }
      }
    }
    & section:nth-child(2) { //아티스트 소개
      @include size(inherit, min-content, $color-1);
      @include flex(center, center, row);
      // border: 1px solid red;
      & > div {
        @include size(90%, 100%, transparent);
        & > p {
          display: block;
          color: $color-6;
          font-size: 1em;
          font-weight: 200;
          margin: 3vh 0;
        }
      }
      
    }
    & section:nth-child(3) { //작품갤러리
      @include size(inherit, min-content, $color-1);
      & > ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        & > li {   //작품
          background-color: #cfc;
          margin-right: .5vw;
          margin-bottom: .5vw;
          @include flex(center, center, row);
          & > div {
            @include size(40%, 40%, rgba(255,255,255,.8));
            @include img(url(../images/tag-soldout.png));
            background-size: 50% auto;
            border-radius: 50%;
          }
        }
        & > li:nth-child(3n) { //오른쪽 여백없앨 3번째 작품들
          margin-right: 0;
        }
      }
      & > ul:nth-child(1){

        & > li:nth-child(1){
          @include img(url(../images/Pepe_shimada2.jpg));
        }
        & > li:nth-child(2){
          @include img(url(../images/Pepe_shimada1.jpg));
        }
        & > li:nth-child(3){
          @include img(url(../images/Pepe_shimada6.jpg));
        }
        & > li:nth-child(4){
          @include img(url(../images/Pepe_shimada4.jpg));
        }
        & > li:nth-child(5){
          @include img(url(../images/Pepe_shimada5.jpg));
        }
        & > li:nth-child(6){
          @include img(url(../images/Pepe_shimada3.jpeg));
        }
        & > li:nth-child(7){
          @include img(url(../images/Pepe_shimada7.jpg));
        }
        & > li:nth-child(8){
          @include img(url(../images/Pepe_shimada10.jpg));
        }
        & > li:nth-child(9){
          @include img(url(../images/Pepe_shimada9.jpg));
        }
        & > li:nth-child(10){
          @include img(url(../images/Pepe_shimada14.jpg));
        }
        & > li:nth-child(11){
          @include img(url(../images/Pepe_shimada15.jpg));
        }
        & > li:nth-child(12){
          @include img(url(../images/Pepe_shimada11.jpg));
          background-size: 105% auto;
        }
      }
    }
  }

}